.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin: 20vh auto;
    border: 3px solid black;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.86);
}

.h1-landing{
    background-color: #808080;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: white;
    font-size: 4em;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 3px #7D7D7D;
}

.h1-landing:hover{
    transform: scale(1.1);
}

.h1-landing{
    transition: transform 0.5s linear 0s;
}

.link-landing{
    text-decoration: none;
    color: white;
    background-color: rgb(30, 30, 30);
    border: 3px solid rgb(30, 30, 30);
    box-shadow: 0px 0px 21px 1px #7D7D7D;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1.5em;
}

.link-landing:hover{
    color: rgb(30, 30, 30);
    background-color: white;
    border: 3px solid rgb(30, 30, 30);
}

.link-landing{
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;

}

