*{
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}
.link{
    text-decoration: none;
    color: black;
    width: 30vw;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

img{
    width: 30vw;
    height: auto;
}

.diets-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diets-recipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.diet-recipe{
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}

.container-recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background: url('background.jpg');
    background-size: 100%;
}